<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/tempMensileStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Document</title>
</head>
<body>
    <div class="test">
        {{#each result}}
            <p class="hide" name="" id="temp">{{this.Temperatura}}</p>
            <p class="hide" name="ora" id="ora">{{this.Ora}}</p>
        {{/each}}
    </div>
    <p class="hide" id="numberOfIteration">{{lengthOfIDs}}</p>
    {{#each secondResult}}
        <p class="hide" name="min">{{this.minTemp}}</p>
        <p class="hide" name="max">{{this.maxTemp}}</p>
    {{/each}}

    <div class="containerLogo">
        <p class="titolo">{{title}}</p>
        <img src="../../images/temperatura.png" alt="icona temepratura" id="tempIcon">
    </div>

    

    <div class="containerChart">
        <canvas id="myChart" width="100" height="100"></canvas>
    </div>

    

    
    
    <div class="buttons">
        <table>
            <tr>
                <td>
                    <form id="myForm" action="/" method="get">
                        <input id="myButton" type="submit" value="Home Page" class="btn btn-primary">
                    </form>
                </td>
                <td>
                    <form action="/graph/temp" method="get">
                        <input type="submit" id="giornoTemp" value="Valori Giornalieri" class="btn btn-primary">
                    </form>
                </td>
                <td>
                    <form action="/graph/temp/sett" method="get">
                        <input type="submit" value="Valori settimanali" id="giornoTemp" class="btn btn-primary">
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <script src="../../js/graphTempMensile.js"></script>
</body>
</html>