<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/humidStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Document</title>
</head>
<body>
    <div class="test">
        {{#each result}}
            <p class="hide" name="humid" id="humid">{{this.Umidita}}</p>
            <p class="hide" name="ora" id="ora">{{this.Ora}}</p>
        {{/each}}
    </div>
    <p class="hide" id="numberOfIteration">{{lengthOfIDs}}</p>
    {{#each secRes}}
        <p class="hide" id="min" name="min">{{this.minHumid}}</p>
        <p class="hide" id="max" name="max">{{this.maxHumid}}</p>
    {{/each}}

    <div class="containerLogo">
        <p class="titolo">{{title}}</p>
        <img src="../images/umidita.png" alt="icona umidita" id="humidIcon">
    </div>

    <div class="containerChart">
        <canvas id="myChart" width="100" height="100"></canvas>
    </div>

    <div class="buttons">
        <table>
            <tr>
                <td>
                    <form id="myForm" action="/" method="get">
                        <input id="myButton" type="submit" value="Home Page" class="btn btn-primary">
                    </form>
                </td>
                <td>
                    {{#if isMonth}} <!-- se è visualizzazione del mese !-->
                        <form action="/graph/humid" method="get">
                            <!-- da mettere -> valori giornalieri !-->
                            <input type="submit" id="myButton" value="Valori giornalieri" class="btn btn-primary">
                        </form>
                    {{else}} <!-- Visualizzazione giorno !-->
                        <form action="/graph/humid" method="post">
                            <input type="submit" id="myButton" value="Valori mensili" class="btn btn-primary">
                        </form>
                    {{/if}}
                </td>
                <td>
                    <form action="/graph/humid/sett" method="get">
                        <button type="submit" class="btn btn-primary" id="btnMensile">Valori Settimanali</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    
    <script src="../js/graphHumid.js"></script>

    
</body>
</html>