<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/homePageStyle.css">
</head>
<body>
    <div class="container">
        <div class="titolo">
            <b><p class="contenuto">CONDOR METEO</p></b>
        </div>
        <table id="animatedTable" class="containerShowed">
            <tr>
                <td><a href="/graph/temp" class="myLink"><img class="myImage" src="./images/temperatura.png" alt="tempIcon"></a></td>
                <td><b><p class="title">&nbsp; &nbsp;{{ temperatura }} °C</p></b></td>
            </tr>
            <tr>
                <td><a href="/graph/humid" class="myLink"><img class="myImage" src="./images/umidita.png" alt="humidIcon"></a></td>
                <td><b><p class="title">{{ umidita }} %</p></b></td>
            </tr>
            <tr>
                <td><a href="/graph/pressure" class="myLink"><img src="./images/pressione.png" alt="pressureIcon" class="myImage"></a></td>
                <td><b><p class="title">&nbsp; &nbsp; &nbsp; &nbsp; {{ pressione }} mBar</p></b></td>
            </tr>
        </table>
    </div>

    <div class="footer">
        <table class="myTable">
            <tr>
                <td class="vuoto"></td>
                <td>
                    <img id="myLogo" src="./images/Logo_condor2.jpg" alt="logo"> 
                </td>
                <td class="phrase">
                    <b>CoNdOrTech - 2020 - All right reserved®</b> 
                </td>
                <td class="instagram">
                    <!-- Qui andranno le immagini di Instagram, Facebook e Tweetter -->
                    <center><a href="https://www.instagram.com/condortech01/"><img class="insta" src="./images/instagram.png" alt="instagram"></a></center>
                </td>
                <td class="facebook">
                    <a href="https://m.facebook.com/condor.ita.77"><img class="facebook" src="./images/fb.png" alt="facebook"></a>
                </td>
                <td class="vuoto"></td>
            </tr>
        </table>
    </div>

</body>
</html>