@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    width: 100%;
    height: 100%;
    background-image: url("/images/sfondo.jpg");
    background-size: cover;
}

.myImage {
    width: 60px;
    height: 60px;
    transition: all 100ms ease-in-out;
    animation: imgAnimation 1s ease-in-out 1;
}

@keyframes imgAnimation {
    
    from {
        width: 0px;
        height: 0px;
        opacity: 0;
    }
    to {
        width: 60px;
        height: 60px;
        opacity: 1;
    }
    
}

.container {
    width: 100%;
    height: 100%;
}

.container #animatedTable {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.containerShowed {
    background-color: white;
    box-shadow: 2px 10px 10px 2px;
    padding-right: 10px;
}

.title {
    font-size: 30pt;
    font-family: Roboto;
    transition: all 100ms ease-in-out;
    animation: titleAnim 1s ease-in-out 1;
}

@keyframes titleAnim {
    from {
        font-size: 0pt;
        opacity: 0;
    }
    to {
        font-size: 30pt;
        opacity: 1;
    }
}

.contenuto {
    color: red;
    font-size: 40pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    animation: contenutoAnim 1s ease-in-out 1;
}

@keyframes contenutoAnim {
    from {
        font-size: 0pt;
        opacity: 0;
    }
    to {
        font-size: 40pt;
        opacity: 1;
    }
}

tr {
    margin-left: 40%;
}

/*
    FOOTER SECTION
*/

.footer {
    padding: 30px;
    margin: 30px auto;
    font-size: 18pt;
    font-style: italic;
}

.table {
    width: 100%;
    animation: tableAnimation 1s ease-in-out 1;
}

@keyframes tableAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#myLogo {
    width: 50px;
    height: 50px;
    padding-bottom: 40%;
    padding-top: 40%;
}

.vuoto {
    width: 15%;
}

.instagram {
    width: 10%;
    align-items: center;
}

.facebook {
    width: 10%;
}

.insta {
    height: 50px;
    width: 50px;
}

.facebook {
    height: 50px;
    width: 50px;
}