.containerChart {
    /*border: 1px solid red;*/
    width: 600px;
    height: 400px;
    margin: 7% auto;
    animation: containerChartAnimation 3s ease-in-out 1;
}

@keyframes containerChartAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.containerLogo {
    text-align: center;
    margin: 20px;
    animation: containerLogoAnim 1s ease-in-out 1;
}

@keyframes containerLogoAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#myButton {
    animation: btnAnim 3s ease-in-out 1;
}

@keyframes btnAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title {
    font-size: xx-large;
    font-weight: bolder;
    color: red;
}

.buttons {
    width: 100%;
    height: auto;
    text-align: center;
}

table {
    width: 100%;
}

td {
    width: 33%;
    text-align: center;
}

.myButton {
    animation: MyBtnAnimation 3s ease-in-out 1;
}

@keyframes MyBtnAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}